
@{
    ViewBag.Title = "Chi tiết tin khuyến mại";
}
<section class="banner">
    <div class="page-cover" style="background-image: url(~/Resources/website/images/news.jpg)">
        <div class="container">
            <div class="cover-text">
                <div class="title-box text-center">Khuyến mại</div>
                <div class="description-box">
                    <p>Cập nhật các thông tin khuyến mại mới nhất.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news-page">
    <div class="container">
        <div class="leftbar document-box listnews col-md-8 col-sm-8 col-xs-12">
            <div class="title-pages-news">
                <span class="title-page">
                    /
                    <a href="tin-tuc.htm">Tin tức</a>
                </span>
            </div>
            <div class="content-newspage detail-news">
                <p class="date-up">26/06/2018 4:23:20 CH</p>
                <h1 class="title-post">VNPAY thông báo kết quả quay thưởng Chương trình khuyến mại “Quét VNPAY-QR đón bão quà tặng” </h1>
                <p style="text-align:justify">
                    Chiều ngày 25 tháng 6 năm 2018 vừa qua, tại khách sạn Fortuna Hà Nội, công ty CP Giải pháp thanh toán Việt
                    Nam long trọng tổ chức Lễ tổng kết và quay thưởng chương trình khuyến mại quý II Quét VNPAY-QR Đón "bão"
                    quà tặng với sự tham gia của hơn 40 khách mời là các đơn vị đối tác đã cùng hợp tác triển khai chương trình.
                </p>

                <p style="text-align:justify">
                    Chương trình khuyến mại Quý II của VNPAY với tên gọi
                    <strong>“Quét VNPAY-QR đón bão quà tặng” </strong>được triển khai từ ngày 15/04/2018 đến hết ngày 15/06/2018. Trong
                    chương trình khách hàng sử dụng tính năng thanh toán bằng quét mã VNPAY-QR khi thanh toán dịch vụ sẽ có
                    cơ hội trúng rất nhiều các giải thưởng hấp dẫn như: 1 Voucher tour du lịch Hàn Quốc 6 ngày 5 đêm dành cho
                    2 người trị giá 50 triệu đồng; 10 Voucher mua Vé máy bay trị giá 5 triệu đồng và hàng nghìn phần quà hoàn
                    tiền 100.000; 30.000 vào tài khoản của khách hàng. Tổng giá trị giải thưởng của chương trình quý II lên
                    tới 3 tỉ đồng.
                </p>

                <p style="text-align:center">
                    <img alt="" src="https://lh3.googleusercontent.com/-daWi6xX5OSg/WzIBukYYyPI/AAAAAAAAClc/JU9Znw9cmcE5ZY8kPBDjBLOkeBssj3aDwCL0BGAs/w663-d-h442-n-rw/_MG_9591.JPG"
                         style="height:400px; width:600px">&nbsp;
                </p>

                <p style="text-align:center">
                    <em>
                        Bà Nguyễn Ánh Tuyết - Giám đốc khối kinh doanh VNPAY phát biểu&nbsp; cảm ơn các đối tác - khách hàng tại
                        buổi lễ
                    </em>
                </p>

                <p style="text-align:justify">
                    Sau 3 tháng triển khai, chương trình đã diễn ra thành công tốt đẹp, VNPAY&nbsp; tổ chức lễ quay thưởng để
                    tìm ra chủ nhân của những giải thưởng trong chương trình
                    <strong>. </strong>Sau đây là kết quả quay thưởng của buổi lễ.
                </p>

                <ul>
                    <li style="text-align:justify">
                        <strong>Giải đặc biệt 1 Voucher tour du lịch Hàn Quốc 6 ngày 5 đêm dành cho 2 người trị giá 50 triệu đồng</strong>
                    </li>
                </ul>

                <p style="text-align:justify">Chủ nhân của giải thưởng có giá trị này là chị Nguyễn Thị Hoài Thu (Số điện thoại XXXXX20836).</p>

                <ul>
                    <li style="text-align:justify">
                        <strong>Danh sách 10 khách hàng may mắn trúng 10 Voucher mua Vé máy bay trị giá 5 triệu đồng</strong>
                    </li>
                </ul>

                <p style="text-align:center">
                    <strong>

                        <img alt="" src="https://lh3.googleusercontent.com/-UxqIbN_ftHQ/WzH-eKZ_X4I/AAAAAAAACks/qOXz8gyc2WQTaTYU6JJHyA1P4QHe4nzoACL0BGAs/w663-d-h477-n-rw/danh%2Bs%25C3%25A1ch%2B10%2Bkh%25C3%25A1ch%2Bh%25C3%25A0ng.PNG"
                             style="height:432px; width:600px">&nbsp;
                    </strong>
                </p>

                <p style="text-align:justify">
                    Các đơn vị đối tác sẽ thông báo cho người trúng thưởng theo họ tên và số điện thoại đăng ký dịch vụ của khách
                    hàng. Ngoài ra, trong thời gian 30 ngày kể từ ngày quay thưởng, khách hàng có thể&nbsp;liên hệ với VNPAY
                    hoặc đơn vị đối tác để nhận giải thưởng.&nbsp;
                </p>

                <p style="text-align:justify">
                    Đặc biệt, sự thành công của chương trình khuyến mại quý II phải kể tới sự hợp tác, ủng hộ nhiệt tình của các
                    đơn vị đối tác, các khách hàng thân thiết đã luôn tin tưởng và lựa chọn hình thức thanh toán QR Pay.&nbsp;
                </p>

                <p style="text-align:justify">
                    Bắt đầu từ ngày 15/7 tới đây, VNPAY tiếp tục triển khai chương trình khuyến mại Quý III với vô vàn phần quà
                    hấp dẫn, tổng giá trị giải thưởng lên tới 8 tỉ đồng. Mọi thông tin chi tiết về chương trình sẽ được sớm
                    cập nhật trên các kênh truyền thông của VNPAY, kênh truyền thông của các đơn vị đối tác và các phương tiện
                    thông tin đại chúng khác.&nbsp;
                </p>

                <p style="text-align:right">
                    <strong>Theo VNPAY</strong>
                </p>

                <div class="clearfix"></div>
                <div class="other-news">
                    <div class="title-other-news">Xem bài khác</div>
                    <ul class="other-list">

                        <li>
                            <a href="/Thanh-toan-hoa-don-nhan-mua-giai-thuong.htm">Thanh toán, nạp tiền, nhận mưa giải thưởng</a>
                        </li>
                        <li>
                            <a href="/VNPAY-ky-ket-hop-tac-voi-UnionPay-ve-phat-trien-thanh-toan-bang-QR-CODE.htm">VNPAY ký kết hợp tác với UnionPay về phát triển thanh toán bằng QR CODE</a>
                        </li>
                        <li>
                            <a href="/TRAI-NGHIEM-TINH-NANG-QR-PAY-TREN-UNG-DUNG-VCB-MOBILE-BNKING.htm">TRẢI NGHIỆM TÍNH NĂNG QR PAY TRÊN ỨNG DỤNG VCB-MOBILE B@NKING</a>
                        </li>
                        <li>
                            <a href="/Danh-sach-khach-hang-thanh-toan-bang-QR-Pay-tren-Mobile-Banking-chuong-trinh-Tung-bung-mua-sam-bang-QR-Pay-duoc-hoan-tien.htm">Danh sách khách hàng trúng giải chương trình "Tưng bừng mua sắm bằng QR Pay" </a>
                        </li>
                        <li>
                            <a href="/TANG-100K-KEM-1-SUAT-GA-36-MIEN-PHI-KHI-THANH-TOAN-QUA-QR-PAY.htm">TẶNG 100K KÈM 1 SUẤT GÀ36 MIỄN PHÍ KHI THANH TOÁN QUA QR PAY</a>
                        </li>
                    </ul>
                </div>
                <!--End .other-news-->

            </div>
            <!--End .list-newspage-->
        </div>
        <!--End .leftbar-->
        <div class="rightbar bannerads pull-right col-md-3 col-sm-3 col-xs-12">

        </div>
        <!--End rightbar-->
    </div>
    <!--End .container-->
</section>

