<section class="section-contact" id="footer">
    <div class="container">
        <div class="wrap">
            <table>
                <tr>
                    <td class="contact-left">
                        <table>
                            <tr>
                                <td>
                                    <table class="contact-phone">
                                        <tr>
                                            <td>
                                                <img src="~/Resources/website/images/phone.svg" width="20" alt="">
                                            </td>
                                            <td>
                                                <span class="contact-text-sm">
                                                    Hỗ trợ khách hàng
                                                    <br>
                                                </span>
                                                <a class="contact-text-bg" href="tel:1900555577">
                                                    1900 55 55 77
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="contact-phone sec">
                                        <tr>
                                            <td>
                                                <img src="~/Resources/website/images/phone.svg" width="20" alt="">
                                            </td>
                                            <td>
                                                <span class="contact-text-sm">
                                                    Hỗ trợ doanh nghiệp
                                                    <br>
                                                </span>
                                                <a class="contact-text-bg" href="tel:02438291291">
                                                    024 38 291 291
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="contact-right">
                        Kết nối với chúng tôi
                        <a href="https://www.youtube.com/user/VNPAY" target="_blank">
                            <img src="~/Resources/website/images/youtube.svg" width="30" alt="">
                        </a>
                        <a href="https://www.facebook.com/CongthanhtoanVNPAYQR" target="_blank">
                            <img src="~/Resources/website/images/facebook.svg" width="30" alt="">
                        </a>
                        <a href="https://plus.google.com/u/0/+VNPAYJSC" target="_blank">
                            <img src="~/Resources/website/images/gg.svg" width="30" alt="">
                        </a>
                    </td>
                </tr>
            </table>
            <p class="text-center copy-right">
                Bản quyền 2018 thuộc về Công ty Cổ phần Giải pháp Thanh toán Việt Nam (VNPAY)
            </p>
        </div>
    </div>
</section>